<section class="breadcrumbNav" aria-label="Page Indicator">
  <ul>
    <li><a href="/">{{ hoofdTitel }}</a></li>
    <li><a href="/{{ urlSecond }}">{{ secondTitel }}</a></li>
    <li><a href="/{{ urlSecond }}/{{ url }}">{{ titel }}</a></li>
  </ul>
</section>

